html, 
body {
    height: 100%;
    line-height: 1;
}

.header, 
.left, 
.box1, 
.right {
    padding: 20px 20px;
}
.body {
    background-color: rgb(215, 210, 210);
    font-family: "Arial", sans-serif;
    font-weight: 600;
    max-width: 800px;
    margin:0 auto;
    
}
.header  {
    max-width: 1150px;
    font-family: "Arial", sans-serif; 
}
h3 {
    text-align: center;
}
.main {
    flex-basis:65%; 
    align-self: center;
    flex-grow: 1;
}
.left {
    background-color: peachpuff;
    align-self:center; 
    flex-grow: 1;
}

.box1 {
    background-color: rgb(196, 194, 174);
    align-self: center;
    flex-grow: 1;
    border-radius: 20px;
    flex-basis: 50%;
}
.box1, .footer {
    margin: 15px 15px;
    text-align: center;
}
.right {
    background-color: rgb(179, 205, 176);
    flex-wrap:wrap; 
    align-items:stretch; 
    width:100%; 
}
.flexcontainer, 
.main, 
.box {
    display: flex;
} 
.footer {
    background-color: peachpuff;
    padding: 20px 10px;
    align-self: center;
    flex-grow: 1;
    border-radius: 20px;   
}
@media (max-width: 1150px) { 
    .name { 
        padding-top: calc(10px +(15-10)*((100vw-300px) / (1150-320))) 
    }  
} 
@media (max-width: 1150px)  { 
    .header { 
       padding: calc(10px +(20-10) * ((100vw-300px) / (1150-320))) 
    } 
} 
@media (max-width: 1150px)  { 
    .header { 
        display: none; 
    } 
} 
@media (max-width: 1150px)  { 
    .footer { 
        display: none; 
    } 
} 
@media (max-width: 1150px) { 
    .main { 
        flex-wrap:wrap; 
    } 
}
@media  (max-width: 1150px) { 
    .right{ 
        flex-basis: 100%;
        flex-grow:1; 
    } 
}
