.header,.left,.box1,.right{ 
    padding:5% 5%; 
} 
.body{ 
    background-color: rgb(215,210,210); 
    font-family: "Arial", sans-serif; 
    font-weight:600; 
    max-width: 800px;
    margin:0 auto;  
} 
.header{ 
    max-width:  100vw; 
    font-family:"Arial", sans-serif;  
} 
h3{ 
    text-align:center; 
} 
.main{ 
    flex-basis:65%; 
    align-self:center; 
    flex-grow:1; 
} 
.left{ 
    background-color: peachpuff; 
    align-self:center; 
    flex-grow:1; 
} 
.name{ 
    padding-top:3%; 
    padding-bottom:5%; 
} 
.box1{ 
    background-color: rgb(196,194,174); 
    align-self:center; 
    flex-grow:1; 
    border-radius:20px; 
} 
.box1,.footer{ 
    margin:1% 1%; 
    text-align:center; 
} 
.right{ 
    background-color: rgb(179,205,176); 
    flex-basis:35%; 
    flex-wrap:wrap; 
    align-items:stretch;  
} 
.flexcontainer,.main,.box{ 
    display:flex; 
} 
.flexcontainer {
    flex-wrap:wrap
}
.footer{ 
    background-color: peachpuff; 
    padding:2.73% 2.73%; 
    flex-grow:1; 
    align-self:center; 
    border-radius:20px; 
}